*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #ff6900;
  box-shadow: 0 1px 4px 0;
  position: fixed;  /*FISSO LA NAV*/
  width: 100%;
  z-index: 2;  /*LA SPOSTO SU LEVEL 1*/
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-box {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  color: white;
}

.container ul {
  display: flex;
  list-style: none;
}

.container ul li {
  padding-right: 5px;  /*SPAZIATURE TRA LE VOCI DEL MENU HEADER ALTO SX*/
}

.container .logo {
  height: 40px;
  padding: 10px;
}

.head-symbol > span {
  padding-left: 5px;
} 

.head-symbol > span {
  display: inline-block; /*ALTRIMENTI NON POSSO DARE PADDING (gia dato sopra)*/
}

main {
  padding: 30px 0 40px;
}

.grid-cards {
  display: flex;
  justify-content: space-between; /*SPAZIA LE CARDS*/
  flex-wrap: wrap; /*MANDA A CAPO LA 4a FOTO*/
}

.box-cards {
  width: 32%;  /*LASCIO 1*3=3% PER SPAZIARE*/
  padding: 40px 0 0; /*SPAZIO TRA LE FOTO*/
}

.box-cards img {
  width: 100%;
  height: 100%;
}

.article-cards {
  display: block; /*PERCHE' DEVO RENDERE BLOCK?*/
  position: relative;
  color: black;
}

.heart {
  position: absolute;
  top: 15px;
  right: 0;
  background-color: white;
  padding: 3px 10px;
  font-size: 25px;
  z-index: 1; /*RIMANE AD UN LIVELLO SUPERIORE IN CASO DI MOUSE HOVER*/
}

.box-disc-sost {
  position: absolute;
  bottom: 40px;
  left: 0;
  font-size: .8rem;
  color: white;
  z-index: 1;
}

.discount {
  background-color: #ff0000;
  padding: 5px;
}

.sustainability {
  background-color: #008000;
  padding: 5px;
}

h4 {
  font-weight: 300;
}

h3 {
  font-size: .7rem;
  font-weight: 900;
}

.price-discount {
  color: red;
  font-weight: 700;
}

.price-full {
  text-decoration: line-through;
}

.article-cards .img-top {
  display: none;
  position: absolute;
}

.article-cards:hover .img-top {
  display: block;
  cursor: pointer;
  padding-bottom: 4px; /*ELIMINA LA LINEA SOTTO LA FOTO AL PASSAGGIO DEL MOUSE*/
}

.heart:hover {        /*CUORE DIVENTA ROSSO CON HOVER MOUSE*/
   color: #ff0000;
}

/*-----------------------*/

.display-none {  /*USATO PER NASCONDERE ALL'OCCORRENZA I TAG SCONTO O SUSTAINIBILITY*/
  display: none;
}

footer span {   /*SELEZIONA TUTTI GLI SPAN DISCENDENTI DI FOOTER*/
  font-size: 12px;;
  margin-right: 5px;
}

footer {
  background-color: black;
}

footer .bckgr {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  color: white;
}

.head-symbol i {
  margin-left: 5px;
}

.social > h5 {
  font-size: 12px;
  padding-bottom: 10px;
}